*{
  --yellow: #f7ca00;
  --dark-yellow: #ff9900;
  --white: #fff;
  --off-white:  #f4f4f4;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--off-white);
    display: flex;
  }
  
  .filters {
    width: 20%;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
  
  .filters h2, .filters h3 {
    margin-top: 0;
  }
  
  .filters ul {
    list-style: none;
    padding: 0;
  }
  
  .filters li {
    margin-bottom: 10px;
  }
  
  .product-listing {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
  
  .product-card h3 {
    margin: 15px 0 10px;
    font-size: 18px;
  }
  
  .product-card p {
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
  }
  
  .product-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--yellow);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
  }
  
  .product-card a:hover {
    background-color: var(--dark-yellow);
  }
  